body{
    font-family: sans-serif;
}

.header{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}

#about{
    display: flex;
    padding: auto;
}

.about-img img{
    height: 60vh;
    border-radius: 25%;
    padding: 2%;
}

.about-info{
    padding: 5%;
}
#nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
#nav a{
    text-decoration: none;
    color: red;
}